:root {
    --primary: rgb(55, 83, 135);
    --secondary: #b5b5b5;
    --pop: #873636;}

*{
    box-sizing: border-box
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary);
    background-image: scr=.assets/images/portfolio%20background.jpg;
}
.header {
    background-color: rgba(11, 156, 223, 0.812);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}

.nav-bar {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a {
    color: aliceblue;
}
p {
    font-size: 20px;
    color: aliceblue;
}
.hero {
    background-image: url("assets/images/portfolio%20background.jpg")
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-item: center;
    justify-content: space-around;
}   

.hero img {
    height: 400px
    
    
.#context-img {
    max-height: ;
    max-width: ;
    border-radius: 20px;
}











@media(max-width:600px) {

}




























































)